html {
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: #ff0000;
  /*background-image: url('download.png');*/
  background-size: cover;
  background-repeat: no-repeat;
}
button{
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s;
  
}
button:hover {
  transform: scale(1.1);
}
hr{
  border: 1px solid #f5f5f5;
}

input{
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s;
  
  
}
h1{
  color: #000000;
  font-size: 36px;
  font-weight: bold;
  /*margin-top: 50px;*/

}
.hiden {
	display: none;
}

